<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527837844971-u6cr5ikfhi3s6ubi7bh7vnfn1027o79j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527837844971-u6cr5ikfhi3s6ubi7bh7vnfn1027o79j</string>
	<key>API_KEY</key>
	<string>AIzaSyAx88Jts2si0u4L3E26Bj03W-fCRp-19sI</string>
	<key>GCM_SENDER_ID</key>
	<string>527837844971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.minhkhue.Run-With-Me</string>
	<key>PROJECT_ID</key>
	<string>runwithme-39a61</string>
	<key>STORAGE_BUCKET</key>
	<string>runwithme-39a61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527837844971:ios:a5c91c85f02d8fe57eb5ae</string>
</dict>
</plist>